{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>

</style>

<main class="px-5">
    <h1 class="t_Flood text-uppercase text-center py-4">Accueil</h1>
    <p class="t_Nunito">Bienvenu dans l'antichambre du temple de Gemuchi, Si vous êtes ici, c'est que vous êtes en quête de conseil, à la recherche de votre prochaine aventure vidéoludique. Si vous le désirez, je suis certainement en train de tester un jeu en ce moment même autour d'un thé sur Twitch. Autrement vous pouvez consulter un de mes tests précédent mis par écrit.</p>
    <div> <div>
    <div>
        <span class="t_Flood text-uppercase"> Les Derniers Tests </span>
        {% for game in games %}
            <div class="card mb-3 shadow-lg ">
                <div class="row g-0 d-flex justify-content-center align-items-center">
                    <div class="col-md-6">
                    <img class="img-fluid rounded thumb" src="{{ game.picture }}" alt="image">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h2 class="card-title t_Flood">{{ game.name }}</h2>
                        <span></span>
                        <p class="card-text t_Nunito">{{ game.resume }}</p>
                        <div id="line"></div>
                        <div class="d-flex justify-content-between mt-2">
                            {% for console in game.console %}
                                <span id="console"> {{ console.name }}</span>
                            {% endfor %} 
                            {% for category in game.category %}
                                <button type="button" class="btn-category px-lg-2 py-lg-1">{{ category.name }}</button>
                            {% endfor %}
                        </div>
                        {#<a href="{{ path('test_view', { id: game.id }) }}"></a>#}
                    </div>
                </div> 
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
