{% extends 'base.html.twig' %}

{% block title %}Tests{% endblock %}

{% block body %}
<div class="container container-tests w-75">
    <h1 class="text-center py-4">Tests</h1>
    <div class="filtre px-5 py-4 mb-5 text-dark mx-5">
        <h2 class="mb-3">Filtrer : </h2>
        <div class= " justify-content-center row row-cols-auto">
            <div class="dropdown col mb-2">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Platforme
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">PC</button></li>
                    <li><button class="dropdown-item" type="button">3DS</button></li>
                    <li><button class="dropdown-item" type="button">XBOX</button></li>
                </ul>
            </div>
             <div class="dropdown col mb-2">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Genre
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">PC</button></li>
                    <li><button class="dropdown-item" type="button">3DS</button></li>
                    <li><button class="dropdown-item" type="button">XBOX</button></li>
                </ul>
            </div>
             <div class="dropdown col mb-2">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Catégorie
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button">PC</button></li>
                    <li><button class="dropdown-item" type="button">3DS</button></li>
                    <li><button class="dropdown-item" type="button">XBOX</button></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="justify-content-lg-center ">
        {% for game in games %}
            <div class="card mb-3 shadow-lg mx-5">
                <div class="row g-0 ">
                    <div class="col-md-6">
                    <img class="img-fluid rounded-start" src="{{ game.picture }}" alt="image">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h2 class="card-title">{{ game.name }}</h2>
                        <span></span>
                        <p class="card-text">{{ game.resume }}</p>
                        {#<div>
                            {% for console in game.consoles %}
                                <span> {{ console.name }}</span>
                            {% endfor %} 
                            {% for category in game.categories %}
                                <div> {{ category.name }}</div>
                            {% endfor %}
                        </div>
                        <a href="{{ path('test_view', { id: game.id }) }}"></a>#}
                    </div>
                    
                </div> 
                </div>
                
            </div>

            {% endfor %}
    </div>


</div>
{% endblock %}
