{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center py-4">Contact</h1>
        <div class="form mx-3 mx-md-5 px-md-5">
            {{ form_start(form) }}
            {{ form_row(form.lastname, {'label': 'votre nom ','attr': {'class': 'input'}}) }}
            {{ form_row(form.firstname, {'label': 'votre prénom :','attr': {'class': 'input'}}) }}
            {{ form_row(form.email, {'label': 'votre e-mail :','attr': {'class': 'input'}}) }}            
            {{ form_row(form.request, {'label': 'Type de demande :','attr': {'class': 'select'}}) }}
            {{ form_row(form.message, {'label': 'votre message :','attr': {'class': 'message'}}) }}
            {{ form_row(form.agreeTerms, {'label': "J'accepte les conditions d'utilisation."}) }}       
            {{ form_rest(form) }}
            
            <div class="form-group">
                <button class=" btn-submit btn btn-primary px-4 float-end"> Envoyer</button>
            </div>
            
            {{ form_end(form) }}
        </div>
       
    </div>
{% endblock %}
